<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".json" #>

{
  "version": "1.0",
  "defaultProvider": "cdnjs",
  "libraries": [
    {
      "provider": "cdnjs",
      "library": "bootstrap-icons@1.10.5",
      "destination": "wwwroot/css/bootstrap-icons"
    }
  ]
}